@import "tailwindcss";

@theme{
  --container-max-width-sm: 100%;
  --container-max-width-md: 720px;
  --container-max-width-lg: 1310px;
}

@media (min-width: 640px) {
    .container {
      max-width: var(--container-max-width-sm);
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: var(--container-max-width-md);
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: var(--container-max-width-lg);
    }
  }

  .center{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .locationPopup.show, .categoryPopup.show{
    display: block;
  }

    footer ul li:hover{
      text-decoration: underline;
    }

    .bann{
      background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.527) ) !important;
    }

    .swiper-button-prev, .swiper-button-next{
      color: black !important;
    }

